@import url('./fa-solid.min.css');
@import url('./fontawesome-all.min.css');
@import url('http://fonts.googleapis.com/css?family=Raleway:100,200,300,500,600,700,800,900');

html {
  -webkit-font-smoothing: auto;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  scrollbar-color: rgba(0, 0, 0, 0.2);
  scrollbar-width: thin;
  font-family: 'Raleway', sans-serif;
  font-size: 12pt;
  font-weight: 300;
  line-height: 1.65em;
}
strong,
b {
  font-weight: 700;
}
ul,
ol,
dl,
table,
blockquote {
  margin: 2em 0 0 0;
}

p {
  line-height: 2em;
}

header.major {
  padding-bottom: 3em;
  text-transform: uppercase;
  color: white;
}

header.major h2 {
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-weight: 800;
  font-size: 2.8em;
}

body {
  margin: 0;
  height: 100%;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: url(../public/header5.jpg);
  background-size: 100% 100%;
  background-repeat: repeat;
  overflow: hidden;
}
.intro {
  color: rgba(255, 255, 255, 0.849);
  text-align: center;
}
a {
  color: white;
}

.intro > img {
  width: 400px;
  margin-top: 50px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

.profile-picture {
  border-radius: 15px;
}

.main {
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.493);
  margin-top: 100px;
}
.main > .content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  width: fit-content;
  border-radius: 20px 0 20px 0;
}

.section > * {
  margin: 0;
}
h4 {
  color: rgb(122, 122, 122);
}

.section {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  flex-direction: column;
  color: black;
  border: 2px solid black;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px;
  max-width: 400px;
  height: 350px;
  border-radius: 20px 0 20px 0;
  background-color: white;
}
.section > img {
  margin-bottom: 20px;
}
.section > p {
  padding: 20px;
  box-sizing: border-box;
  text-justify: inter-word;
  text-align: center;
  font-weight: 400;
  font-size: small;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  height: 200px;
}
.section > p::-webkit-scrollbar {
  display: none;
}
.section a {
  color: black;
}

footer {
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.493);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Other */

ul.icons {
  cursor: default;
  text-align: center;
  padding-inline-start: 0;
}

ul.icons li {
  display: inline-block;
  padding: 0em 0.2em;
}

ul.icons li:first-child {
  padding-left: 0;
}

ul.icons li span {
  display: none;
}

ul.icons li a {
  display: inline-block;
  color: #828282;
  width: 30px;
  height: 30px;
  text-align: center;
}

ul.icons li a:before {
  display: inline-block;
  border: 1px solid white;
  width: 2em;
  height: 2em;
  line-height: 2em;
  font-size: 1em;
  color: white;
  border-radius: 100%;
  text-align: center;
  @media screen (width > '') {
  }
}

.skills {
  margin-top: 100px;
  width: 100%;
}

.skill-container {
  margin: 0 25px;
  margin-bottom: 20px;
  width: 300px;
  @media only screen and (max-width: 735px) {
    width: 100%;
    margin-right: 0px;
  }
}

.skills-body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  width: 100%;
  box-sizing: border-box;
}

@media only screen and (max-width: 735px) {
  .skill-container {
    width: 100%;
  }
  .skills-body {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    width: 100%;
    box-sizing: border-box;
  }
}

.skill-body {
  color: black;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
  margin: 0 25px;
}
.skill-title {
  display: flex;
  width: 100%;
  color: white;
  font-size: 2em;
  font-weight: bold;
  border-bottom: 1px solid white;
  padding: 5px;
}
