.App {
    height: 100%;
    overflow: hidden;
}

.App-body {
    overflow-y: scroll;
    height: 100%;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.intro {
    color: rgba(255, 255, 255, 0.849);
    text-align: center;
    height: 100vh;
}

a {
    color: white;
}

.intro > img {
    width: 400px;
    margin-top: 50px;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

.profile-picture {
    border-radius: 15px;
}

.main {
    font-weight: bold;
    color: rgb(255, 255, 255);
    /*background-color: rgba(0, 0, 0, 0.5);*/
    margin-bottom: 100px;
    padding: 50px 0;
}

.main > .content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    width: fit-content;
}

.section > * {
    margin: 0;
}

h4 {
    color: #fffd;
}

.section {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    flex-direction: column;
    color: #fffd;
    padding: 10px;

    box-sizing: border-box;
    margin: 10px;
    max-width: 400px;
    height: 400px;
    border-radius: 20px 0 20px 0;
    /*background-color: white;*/
    position: relative;
    background: inherit;
}

.section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(5px);
    z-index: -1;
    border-radius: 20px 0 20px 0;

}

.section > img {
    margin-bottom: 20px;
}

.student-work > img {
    height: 150px;
    border-radius: 10px;
    margin-top: 10px;
}


.section > p {
    padding: 20px;
    box-sizing: border-box;
    text-justify: inter-word;
    text-align: center;
    font-weight: 400;
    font-size: small;
    overflow-y: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    height: 200px;
}

div {
    scrollbar-width: 0;
}

div::-webkit-scrollbar {
    display: none;
}

.section > p::-webkit-scrollbar {
    width: 2px !important;
    background-color: #555 !important;
    border-radius: 20px !important;
}

.section > p::-webkit-scrollbar-thumb {
    width: 2px !important;
    background-color: #ccc !important;
    border-radius: 20px !important;
}

.section a {
    color: #fffd;;
}

footer {
    margin-top: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Other */

ul.icons {
    cursor: default;
    text-align: center;
    padding-inline-start: 0;
}

ul.icons li {
    display: inline-block;
    padding: 0 0.2em;
}

ul.icons li:first-child {
    padding-left: 0;
}

ul.icons li span {
    display: none;
}

ul.icons li a {
    display: inline-block;
    color: #828282;
    width: 30px;
    height: 30px;
    text-align: center;
}

ul.icons li a:before {
    display: inline-block;
    border: 1px solid white;
    width: 2em;
    height: 2em;
    line-height: 2em;
    font-size: 1em;
    color: white;
    border-radius: 100%;
    text-align: center;


}

.skills {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.skill-container {
    margin: 0 25px;
    margin-bottom: 20px;
    width: 400px;
}

.skills-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 2fr));
    width: 100%;
    box-sizing: border-box;
}

@media only screen and (max-width: 940px) {
    .skill-container {
        width: 90%;
    }

    .skills-body {
        display: grid;
        grid-template-columns: 1fr;
        box-sizing: border-box;
    }
}

.skill-body {
    color: black;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    margin: 0 25px;
}

.skill-title {
    display: flex;
    width: 100%;
    color: white;
    font-size: 2em;
    font-weight: bold;
    border-bottom: 1px solid white;
    padding: 5px;
}
